*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
  background: #404040;
}
.navbar {
  background: #404040;
}
.home-text {
  width: 450px;
  height: 420px;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 70px;
}
.home-btn {
  padding: 10px;
  border-radius: 10px;
  background: #404040;
}
.home-image {
    background-image: url("https://i.postimg.cc/t42xJZVt/Screenshot-2023-12-04-152523.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
.product-image {
    background-image: url("https://i.postimg.cc/4xYDx3w7/basketball-court-with-wooden-parquet-Graphics-13480167-1-removebg-preview.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
    .card {
        width: 18rem;
    }
.Contact-text {
  font-size: 60px;
}
.spanify {
  color: #8f3401;
}
.text-center {
    background-image: url('https://i.postimg.cc/P5yNVHxS/Benefits-of-Basketball-Court-Covers-1024x683.png');
}

.desktop {
    background-color: #3f3f3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .group-wrapper {
    background-color: #3f3f3f;
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .group {
    position: relative;
    width: 1361px;
    height: 660px;
    top: 206px;
    left: 40px;
  }
  
  .desktop .div-wrapper {
    height: 660px;
  }
  
  .desktop .div {
    position: relative;
    width: 1361px;
    height: 660px;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 1361px;
    height: 274px;
    top: 0;
    left: 0;
  }
  
  .desktop .group-3 {
    position: relative;
    width: 1363px;
    height: 274px;
  }
  
  .desktop .group-4 {
    position: absolute;
    width: 804px;
    height: 274px;
    top: 0;
    left: 0;
  }
  
  .desktop .SPORTIFY {
    position: absolute;
    top: 137px;
    left: 105px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    color: #8f3401;
  }
  .desktop .text-wrapper-11 {
    color: #8f3401;
  }

  .desktop .span {
    color: #ffffff;
  }
  .desktop .span-11 {
    color: #8f3401;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .general-information {
    position: absolute;
    width: 551px;
    top: 0;
    left: 810px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-5 {
    position: absolute;
    width: 452px;
    height: 133px;
    top: 527px;
    left: 456px;
  }
  
  .desktop .logo-NIKE {
    position: absolute;
    width: 96px;
    height: 35px;
    top: 92px;
    left: 0;
    object-fit: cover;
  }
  .desktop .forthefight {
    position: absolute;
    width: 96px;
    height: 44px;
    top: 89px;
    left: 180px;
    object-fit: cover;
  }
  
  .desktop .element-stubhub {
    position: absolute;
    width: 96px;
    height: 44px;
    top: 89px;
    left: 337px;
    object-fit: cover;
  }
  
  .desktop .group-6 {
    position: absolute;
    width: 79px;
    height: 40px;
    top: 89px;
    left: 188px;
    background-image: url(./img/images-removebg-preview.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  .desktop .CONTACT {
    position: absolute;
    top: 0;
    left: 458px;
    font-family: "Michroma-Regula", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }

  .desktop .overlap-wrappaer {
    position: absolute;
    width: 1368px;
    height: 622px;
    top: 106px;
    left: 0;
  }

  .desktop .overlap {
    position: relative;
    height: 622px;
    border-radius: 20px;
  }
  

