*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.text-center {
    background-image: url('https://i.postimg.cc/P5yNVHxS/Benefits-of-Basketball-Court-Covers-1024x683.png');
}
